#chartEmpty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#chartEmpty p {
  font-weight: 300;
  font-style: italic;
}