#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 2rem;
}

#app-header {
  margin-bottom: 1rem;
  text-align: center;
}

#app-header div {
  font-weight: 300;
}